GRPC_SERVER_PORT=50051
DATABASE_NAME=ecommerce-db
# MONGODB_URL=
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://guest:guest@rabbitmq/
QUEUE_NAME=product_requests
API_GATEWAY_URL=http://api-gateway:8000
INVENTORY_SERVER_HOST=inventory_service
INVENTORY_SERVER_PORT=50052
